@page
@using HandsFreeWebServer.Presentation.Web.Sub.Pages.Web_Index;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<div class="text-center" style="overflow-x: auto;" id="particles-js">
    <h1 class="display-4">Welcome</h1>
    @foreach (var response in Model.IndexViewModel.ResponseDataModel)
    {
        <table class=" table" id="@response.CurrentFunctionId">
            <thead class="accordion-header">
                <tr>
                    <th>Method: </th>
                    <td> @response.HttpMethod</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var weather in response.Weathers!)
                {
                    <tr>
                        <th>Summary:</th><td>@weather.Summary</td>
                        <th>TemperatureC:</th><td>@weather.TemperatureC</td>
                        <th>TemperatureF:</th><td>@weather.TemperatureF</td>
                    </tr>
                }
            </tbody>
        </table>
    } 
</div>
<!-- scripts -->
<script type="text/javascript" src="~/js/particles.js"></script>
<script type="text/javascript" src="~/js/app.js"></script>
